In [63]:
nested_data = ((1, 2), [3, 4], (5, [6, 7]))
nested_data[2][1]

[6, 7]

In [65]:
l = [1,2]
l*2

[1, 2, 1, 2]

In [68]:
nested_data = ((1, 2), [3, 4], (5, [6, 7]))
len(nested_data[2][1])

2

In [70]:
L = [1, 2, 3, 4, 5]

L1 = L

L1.append(7)

del L1

print(L)

[1, 2, 3, 4, 5, 7]

In [73]:
num1 = input("Enter the first number: ")

num2 = input("Enter the second number: ")

result = num1 + num2

print(result)

53

In [75]:
List1 = [[1,2,3],[4,5,6],[7,8,9]]

print([[col+10 for col in row] for row in List1])

[[11, 12, 13], [14, 15, 16], [17, 18, 19]]

In [78]:
t = (1,2,2,3,4,5)

In [84]:
for x in range(4):

    if x == 3:

           #print('three')
           break

    print(x)

else:

    print("Done")

0
1
2

In [86]:
L = [1,2,3,4,5]

L*2

print(L)

[1, 2, 3, 4, 5]

In [88]:
print(1 * 4 // 2 ** 3)

0

In [90]:
list1 = [1, 2, 3]

list2 = list1

list2.append(4)

print(list1)

[1, 2, 3, 4]

In [93]:
x = [1, 2, 3]

y = x[:]

y.append(4)

print(x)

[1, 2, 3]

In [94]:
d1 = {1:1, 2:2}
d2 = {2:2, 1:1}

print(d1 == d2)

True

In [95]:
year = 10
print("Year less than 2021") if year < 2021 else print("Bye 2020")

Year less than 2021

In [97]:
def fun(df = 6, ndf):
   return df/ndf 
print(fun(4))

SyntaxError: parameter without a default follows parameter with a default (3078958198.py, line 1)

In [99]:
month = ["January", "March", "April"]
month.insert(1,"February")
month.append("May")
print(month)

['January', 'February', 'March', 'April', 'May']

In [100]:
t=(6)
print(t)

6

In [101]:
if not 1:
    print("Welcome")
else:
    print("exit")

exit

In [102]:
p = 10
q = 10
print(p is q)

True

In [103]:
def func(var):
    var = 5
	
var = 3
func(var)
print(var)

3

In [104]:
def add(p, q, r, s = 5):
   return p + q + r + s
print(add(p = 1, q = 2, r = 3, 4))

SyntaxError: positional argument follows keyword argument (1623403153.py, line 3)

In [105]:
print(1 // 2)
print(6. // -4)

0
-2.0

In [106]:
tupl = (1, 3, 5, 4)
tupl[3] = 8
print(tupl)

TypeError: 'tuple' object does not support item assignment

In [107]:
a = 0b111
b = a << 3
 
print(bin(b))

0b111000

In [109]:
list = [[2-i for i in range(2)] for j in range(2)]
print(list)
var = 0
for i in range(2):
      var += list[i][i]
print(var)

[[2, 1], [2, 1]]
3

In [172]:
def week(days):
   days[4]='fri'
 
weekdays = ['mon', 'tue', 'wed', 'thu','sat','sun']
week(weekdays)
weekdays

weekdays.insert(weekdays.index('fri')+1, 'sat')
weekdays

['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']

In [112]:
y=[1,2,3,4,5]
y.pop()

print(y)

[1, 2, 3, 4]

In [113]:
x = [1,2,3,4]
y = x
y.pop()
print(x,y)

[1, 2, 3] [1, 2, 3]

In [3]:
list1 = [1,2,3,4]
list2 = list1[:]
list2.append(5)
print(list1)
print(list2)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [115]:
list = [1, 2, 3, 4, 5]
print(list[list[-1]])

IndexError: list index out of range

In [116]:
str = 'ThankS'
str[5] = 's'
print(str)

TypeError: 'str' object does not support item assignment

In [117]:
fruit = "Mango",
print(type(fruit))

<class 'tuple'>

In [ ]:
l1 = ['pandas','Numpy','Scipy']
l2 = ['pandas','Numpy','Scipy']
l3 =  l2


print(l1 is l3)
print(l2 is l3)
print(l1 is l2)

False
True
False

In [14]:
x = 290
y = 290
print(x is y)

False

In [16]:
for i in range(300):
    x = i
    y = i

    if x is y:
        print(x)
        break

0

In [ ]:
var = 25.6
var = int(var)
print(var)

25

In [121]:
inp1 = ([1,2,3],)
inp2 = (1)
print(type(inp1),type(inp2))

<class 'tuple'> <class 'int'>

In [124]:
print(3%13)

3

In [143]:
l = {(1,2,3):''}
print(type(l))
print(l)

l.keys()

<class 'dict'>
{(1, 2, 3): ''}

dict_keys([(1, 2, 3)])

In [147]:
print(1 & ~0)
print(1 ^ 1)
print(1 | 0)

1
0
1

In [145]:
print(1 | 0 ^ 1 & ~0)

1

In [148]:
dict1 = {'one': 1, 'two': 2, 'three': 3}
dict2 = {'one': 1, 'two': 5, 'four': 8}
dict3 = dict(dict1)
dict4 = dict(dict2)
dict3.update(dict2)
dict4.update(dict1)
print(dict3 == dict4)

False

In [149]:
print(0o1 + 0b1 + 0x1 + 1)

4

In [151]:
di = {'r':2,'p':4,'q':5}
print(sorted(di))

['p', 'q', 'r']

In [152]:
x = {'r':2,'p':4,'q':5, 's':3}
x.pop('s')
print(x)
x.pop(3)
print(x)

{'r': 2, 'p': 4, 'q': 5}

KeyError: 3

In [153]:
print(4 ** 2)
print(4 ** 2.)
print(4. ** 2)
print(4.0 ** 2.0)

16
16.0
16.0
16.0

In [ ]:
#print = "hi"
#print(print)

TypeError: 'str' object is not callable

In [157]:
print(1+a)

TypeError: 'str' object is not callable

In [160]:
a = "one"
print(int(a))

ValueError: invalid literal for int() with base 10: 'one'

In [8]:
x,y,i,j = 0,0,0,0
for i in range(2):
    
    for j in range(2):
        print(f"OUTER: i={i}, j={j} x={x}, y={y}")
        if i != j:
            x += 1
            print(f"INNER: i={i}, j={j} x={x}, y={y}")
else:
    y += 1

print(f"i={i}, j={j} x={x}, y={y}")

OUTER: i=0, j=0 x=0, y=0
OUTER: i=0, j=1 x=0, y=0
INNER: i=0, j=1 x=1, y=0
OUTER: i=1, j=0 x=1, y=0
INNER: i=1, j=0 x=2, y=0
OUTER: i=1, j=1 x=2, y=0
i=1, j=1 x=2, y=1

In [10]:
def top(num):
    if num == 0:
        return 0
    return num + top(num-1)

print(top(2))

3

In [12]:
type(-1_999)
print(-1_999)

-1999

In [13]:
for i in range(-3,0,1):
    print(i)

-3
-2
-1

In [17]:
data = [True, 3.14, -2]
data.index(-2) not in data

True

In [18]:
d = {1:1, 2:2}
d[3]

KeyError: 3

In [20]:
def func(a,b=1,c=False):
    if c:
        return [b,c,a]

print(func(2)[0])

TypeError: 'NoneType' object is not subscriptable

In [4]:
print(5 ** 2 **3)
print(5 ** 8)

390625
390625

In [32]:
L = [1,2,3,4,5]

L[-3:3]

[3]

In [33]:
[1,2,3] + (1,2,3)

TypeError: can only concatenate list (not "tuple") to list

In [39]:
the_list = ['list', False, 3e8]

print(the_list.index(False) == 1)
print(300 in the_list and the_list[1])
print(int(the_list[2]) == len(the_list))
print(the_list[1] in the_list)

True
False
False
True